.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  height: 555px;
  background:
    linear-gradient(180deg, rgb(17 17 17 / 10%), rgb(17 17 17 / 65%)),
    url('../images/footer-bike.jpg') center / cover no-repeat;
}

@media (max-width: 1023px) {
  .footer {
    height: 320px;
  }
}

@media (max-width: 767px) {
  .footer {
    height: 240px;
  }
}
